<!DOCTYPE html>
<html>
<head>
  <title>Tour Virtual</title>
  <link rel="stylesheet" href="{{url_for('static', path='/map/styles/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', path='/map/styles/scroll.css')}}">
  <link rel="stylesheet" href="{{url_for('static', path='/map/styles/sidebar.css')}}">
  <link rel="stylesheet" href="{{url_for('static', path='/map/styles/controls.css')}}">
  <link rel="stylesheet" href="{{url_for('static', path='/map/styles/map.css')}}">
  <link rel="stylesheet" href="{{url_for('static', path='/map/styles/legenda.css')}}">
  <link rel="stylesheet" href="{{url_for('static', path='/map/styles/searchbar.css')}}">
  <link rel="stylesheet" href="{{url_for('static', path='/map/styles/construcao.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{{url_for('static', path='/map/img/icon/uffsvirtual-icon.png')}}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/utils/Draggable.min.js"></script>
  
  <script src="{{url_for('static', path='/map/scripts/snap.svg/snap.svg.js')}}"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>

   
    <script >var atributos = {{atributos | safe}}</script>
    
    {% block content %}
    {% endblock %}



    <script type="module" src="{{url_for('static', path='/map/scripts/SVGactions.js')}}" defer></script>
    <script type="module" src="{{url_for('static', path='/map/scripts/legenda.js')}}" defer></script>
    <script type="module" src="{{url_for('static', path='/map/scripts/searchbar.js')}}"defer></script>
    <script src="{{url_for('static', path='/map/scripts/controls.js')}}" defer></script>
    <script src="{{url_for('static', path='/map/scripts/popup.js')}}" defer></script>
</body>