/node_modules
/public/hot
/public/storage
/storage/*.key
/public/img/svg/map/ch/main.svg
/public/img/svg/map/cl/main.svg
/public/img/svg/map/er/main.svg
/public/img/svg/map/ls/main.svg
/public/img/svg/map/pf/main.svg
/public/img/svg/map/re/main.svg
/public/img/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
