/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;500;600;700;800&display=swap"); */
:root { --card-width: 10vw; --card-height: 15vw; --card-transition-duration: 800ms; --card-transition-easing: ease; --color-dark-blue: #264653; }
* { box-sizing: border-box; margin: 0; padding: 0; }
body { width: 100%; height: 100vh; display: block; justify-content: center; align-items: center; background: #fafafa; font-family: roboto; }
button { border: none; background: none; cursor: pointer; } button:focus { outline: none; border: none; }
a { text-decoration: none; }
/* .app { position: relative; width: 100%; height: 73%; display: flex; justify-content: center; align-items: center; overflow: hidden; } .app__bg { position: absolute; width: 100%; height: 100%; z-index: -5; filter: blur(2px); pointer-events: none; user-select: none; overflow: hidden; } .app__bg::before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; z-index: 1; opacity: 0.8; } .app__bg__image { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0)); width: 100%; height: 100%; transition: transform 1000ms ease, opacity 1000ms ease; overflow: hidden; } .app__bg__image img { width: 100%; height: 100%; object-fit: cover; } .app__bg__image.current--image { opacity: 1; --image-translate-offset: 0; } .app__bg__image.previous--image, .app__bg__image.next--image { opacity: 0; } .app__bg__image.previous--image { --image-translate-offset: -25%; } .app__bg__image.next--image { --image-translate-offset: 25%; }
.cardList { position: absolute; width: calc(3 * var(--card-width)); height: auto; right:20%; } .cardList__btn { --btn-size: 4.1vw; width: var(--btn-size); height: var(--btn-size); position: absolute; top: 50%; transform: translateY(-50%); z-index: 100; } .cardList__btn.btn--left { left: 0; } .cardList__btn.btn--right { right: 0; } .cardList__btn .icon { width: 100%; height: 100%; } .cardList__btn .icon svg { width: 100%; height: 100%; } .cardList .cards__wrapper { position: relative; width: 100%; height: 100%; }
.card { --card-translateY-offset: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset)); display: inline-block; width: var(--card-width); height: var(--card-height); transition: transform var(--card-transition-duration) var(--card-transition-easing); user-select: none; } .card::before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; z-index: 1; transition: opacity var(--card-transition-duration) var(--card-transition-easing); opacity: calc(1 - var(--opacity)); } .card__image { position: relative; width: 100%; height: 100%; } .card__image img { position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; } .card.current--card { --current-card-rotation-offset: 0; --card-translateX-offset: 0; --card-rotation-offset: var(--current-card-rotation-offset); --card-scale-offset: 1.2; --opacity: 0.8; } .card.previous--card { --card-translateX-offset: calc(-1 * var(--card-width) * 1.1); --card-rotation-offset: 25deg; } .card.next--card { --card-translateX-offset: calc(var(--card-width) * 1.1); --card-rotation-offset: -25deg; } .card.previous--card, .card.next--card { --card-scale-offset: 0.9; --opacity: 0.4; }
.infoList { position: absolute; width: 24%; height: var(--card-height); pointer-events: none; left: 20%; } .infoList .info__wrapper { position: relative; width: 100%; height: 100%; display: flex; justify-content: flex-start; align-items: center; transform-style: preserve-3d; }
.info { top: 0; transform: translateZ(2rem); transition: transform var(--card-transition-duration) var(--card-transition-easing); } .info .text { position: relative; color: #fff; width: fit-content; white-space: break-spaces;}
.info .name, .info .location { text-transform: uppercase; } .info .location { font-weight: 800; } .info .location { --mg-left: 40px; --text-size-offset: 0.12; font-weight: 600; margin-left: var(--mg-left); margin-bottom: calc(var(--mg-left) / 2); padding-bottom: 0.8rem; } .info .location::before, .info .location::after { content: ""; position: absolute; background: #fff; left: 0%; transform: translate(calc(-1 * var(--mg-left)), -50%); } .info .location::before { top: 50%; width: 20px; height: 5px; } .info .location::after { bottom: 0; width: 60px; height: 2px; } .info.previous--info, .info.next--info { opacity: 0; display: none; }
.loading__wrapper { position: fixed; left: 0; top: 0; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; background: #000; z-index: 200; } .loading__wrapper .loader--text { color: #fff; font-weight: 500; margin-bottom: 1.4rem; } .loading__wrapper .loader { position: relative; width: 200px; height: 2px; background: rgba(255, 255, 255, 0.25); } .loading__wrapper .loader span { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: red; transform: scaleX(0); transform-origin: left; }
.support { position: absolute; right: 10px; bottom: 10px; padding: 10px; display: flex; } .support a { margin: 0 10px; color: #fff; font-size: 1.8rem; backface-visibility: hidden; transition: all 150ms ease; } .support a:hover { transform: scale(1.1); } */

/* ================================*/
/* | custom styles tour-virtual | */
/* ================================ */

@keyframes move_bkgd {
    0% {background-position: center;}
    33% {background-position: bottom;}  
    66% {background-position: top;} 
    100% {background-position: center;}  
}



.header { width: 100%; display: block; float: left; height: 13.5%; background-color: #fafafa; color: var(--color-dark-blue); }
.contariner-large { width: 80%; left: auto; right: auto; }
.campus-title { font-size: 2.1vw; margin-top: 5px; font-weight: 600; float: left; text-align: start; }
.text.description { font-weight: 200; font-size: 1.3vw;  float:left; width: 100%;    text-align: start;}
.box-text-slider { float: left; margin-left: 10px; margin-top: -10px; color: #D9D9D9; }
.icon-explore-slider { width: 2.6vw; height: 2.6vw; stroke: #fafafa; float: left; fill: #fafafa; }
.info { display: flex; height: auto; cursor:pointer;  }
.header-footer { height: 13.5%; width: 100%; background-color: #fafafa; display: flex; align-items: center; transition: height 1s; }
.header-footer img { margin-left:auto; margin-right:auto; position: relative; height: 4.1vh; display: flex; }
.container-large { width: 80%; margin-left: auto; margin-right: auto; }
.header .container-large { display: block; height: 100%; }
.header-main-icon { width: 70px; height: 70px; float: left; }
.header-title { font-size: 28px; float: left; margin-left: 10px; }
.btn-header { display: flex; position: relative; float: right; right: 0%; align-items: center; height: 100%; text-decoration: none; color: var(--color-dark-blue); opacity: 0 }
.logo-header { display: flex; align-items: center; height: 100%; float: left; opacity: 0; color: unset; cursor: pointer}
.logo-header img { transition: all 1s }
.btn-header h2 { font-size: 28px; margin-right: 15px; font-weight: 400; }
.btn-header img { height: 50px; width: 50px; transition: all 1s; }
.main-content { position: relative; background-color: #D9D9D9; height: auto; float: left; width: 100%; display: flex; }
.container-small { width: 35vw; height: auto; position: relative; float: left; padding-top: 20vh; padding-bottom: 20vh; margin-left: auto; margin-right: auto; }

.align-main-content {     display: flex;
    position: relative;
    flex-direction: row;
    float: left;
    bottom: 0;
    width: 100%;
    align-items: center;
    opacity: 0;
 }
.item-content { width: 50px; height: 50px;  margin-top: 30px; }
.detail-content-section { position: absolute; margin: 20vh 10% 20vh 10%; display: none; }

.detail-content-section-responsive {
    width: 5vw;
    height: 100%;
    background-image: url(./../img/icon/practice-bulb.svg);
    background-repeat: repeat;
    background-size: 1vw;
    position: absolute;
    margin-left: 20vw;
    opacity: 0;
    transition: all 1s;
}

.text-main-content { margin-top: 100px; margin-bottom: 20px; width: 50%; font-size: 1vw; color: var(--color-dark-blue); }
.item-map-content { height: auto; width: 16vw; right: 0%; position: absolute; top: 20%; opacity: 0;  transition: all 1s; }
.secondary-content { float: left; padding: 15vw 20vw 8vw 20vw; width: 100%; position: relative;}

.first-map {     position: relative;
    float: right;
    max-height: 20vw;
    width: 20vw; }
.second-map {     float: left;
    max-height: 20vw;
    width: 20vw; }
.thirty-map { display: block;
    bottom: 0;
    position: relative;
    width: 20vw;
    top: 12vw;
    max-height: 20vw;
    float: left; }
.title-secondary-content { font-size: 2vw; color: var(--color-dark-blue); font-weight: 600; position: relative; }
.title-secondary-content p { font-size: 1.5vw; }

.description-secondary-content { font-size: 1vw; color: var(--color-dark-blue); margin-top: 20px; position: relative; width: 240px; float: left; }
.align-descriptions {position: absolute; top: 15vw; margin-left: 20vw;}

.footer-bkgd { position: relative; float: left; height: auto; background-color: #E5E5E5; padding-left: 10%; display: block; width: 100%; padding-top: 100px; padding-bottom: 100px; }
#logo-footer{ opacity: 1}
.container-logo-footer { display: flex; flex-direction: column; font-size: 2.1vw; color: var(--color-dark-blue); margin-left: 10px; }
.container-logo-footer div { font-size: 1.1vw; margin-left: 16px; }
.content-footer { float: right; height: 100%; display: flex; align-items: center; margin-right: 10%; }
.align-content-footer { height: auto; display: flex; flex-direction: column; align-items: end; }
.bottom-content-footer { font-size: 1vw; color: var(--color-dark-blue); }
.bottom-content-footer img { width: 10vw; margin-bottom: -0.5vw; }
.social-icon { margin-left: 8px; float: right; border-radius: 50px; }
.social-icon img { width: 40px; height: 40px;}
.footer-icon { width: 200px; opacity: 0 }
.top-content-footer { margin-bottom: 10px; }
.first-map, .second-map, .thirty-map { opacity: 0; }
.logo-uffs-slide {
    bottom: 17%;
    position: absolute;
    opacity: 1;
    z-index: 10000000;
    left: 45%;
    width: 10%;
}

.btn-header:hover img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
    transition: all 0.5s;
}

.logo-header:hover img{
    width: 60px;
    height: 60px;
    margin: 5px;
    transition: all 0.5s;
}


.logo-uffs-footer{
    position: absolute;
    left: 45%;
    width: 10%;
    align-items: center;
    display: flex;
}

.logo-uffs-footer img{
    width: 100%;
}


.in-view-opacity-1s{
    opacity:1;
    transition: all 1s;
}

.in-view-opacity-2s{
    opacity:1;
    transition: all 2s;
}

.in-view-opacity-3s{
    opacity:1;
    transition: all 3s;
}



swiper-container {
    width: 100%;
    height: 73%;
  }

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.align-main-content p{
    font-size: 22px;
    margin-top: 25px;
    margin-left: 10px;
    font-weight: 200;
    color: #152238;
}


.mySwiper2{
    display: none;
}


swiper-container.mySwiper {
    color: #E5E5E5 !important;
}



.section-slider{

    height: 73vh;
    float: left;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container-labels-slider{
    height: 100%;
    display: flex;
    padding-top: 25px;
  }
  
  .label-slider{
    position: absolute;
    z-index: 10000;
  }
  
  
  .item-slider{
    position: fixed;
    width: 24%;
    height: 100%;
    left: 30%;
    z-index: 1000;
  }
  
  .container-item-slider{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform-style: preserve-3d;
  }
  
  .info{
    display: flex;
    height: auto;
    cursor: pointer;
  }
  
  .background-slider{
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.5;
    filter: blur(2px);
    -webkit-transition: transform 1000ms ease, opacity 1000ms ease;
    transition: transform 1000ms ease, opacity 1000ms ease;
    z-index: -1;
    position: relative;
    animation: move_bkgd 100s forwards;
    animation-iteration-count: infinite;
  }
  
  
  
  .logo {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear;
  }
  .logo img {
    height: 26px;
    width: auto;
    display: block;
  }

  



@media only screen and (max-width: 1600px) {
    .detail-content-section{
        width: 20vw;
    }

    .container-small {
        width: 40vw;
    }
 }


@media only screen and (max-width: 1200px) {
    .secondary-content{
        padding-left: 10vw;
        padding-right: 10vw;
        padding-bottom: 15vw;
    }

    .thirty-map{
        top: 20vw;
        left: 10vw;
    }

    .description-secondary-content {
        font-size: 16px;
    }

    .title-secondary-content {
        font-size: 30px;
    }

    .title-secondary-content p {
        font-size: 18px;
    }

    .align-descriptions {
        margin-left: 25vw;
    }

    .detail-content-section-responsive {
        width: 10vw;
        background-size: 2vw;
        margin-left: 10vw;

    }

    .container-small {
        width: 50vw;
    }

    .text-main-content {
        font-size: 16px;

    }


   

    .logo-uffs-footer{
        width: 15%;
    }




}

@media only screen and (max-width: 1000px) {


    .secondary-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .align-descriptions {
        position: relative;
        margin-left: 0;
        top: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }


    .second-map{
        width: 20vw;
        margin-bottom: 40px;
    }

    .first-map{
        width: 25vw;
        margin-bottom: 70px;
        margin-top: 50px;
    }

    .footer-bkgd{
        height: auto;
        padding-top: 150px;
        padding-bottom: 100px;
    }

    .content-footer{
        float: left;
        margin-top: 150px;
        width: 100%;
        padding-left:5px;
    }

    .container-logo-footer div {
        font-size: 38px;
        margin-left: 14px;
        margin-top: 10px;
    }

    .bottom-content-footer img {
        width: 35vw;
        margin-bottom: -20px;
    }

    .bottom-content-footer {
        font-size: 30px;
        float: left;
        width: 100%;
    }

    .social-icon {
        margin-left: 0px;
        margin-right: 10px;
    }

    .container-logo-footer .header-main-icon {
        width: 90px;
        height: 90px;
    }


    .main-content.container-small.img :first{
        width: 100%;
    }

    .item-map-content{
        position: relative;
        top: 5%;
    }


    .text-main-content {
        font-size: 28px;
        width: auto;
        padding-right: 25%;
    }

    .detail-content-section{
        display: none;
    }

    .container-small {
        width: 80vw;
        margin-left: 28vw;
    }

    .detail-content-section-responsive {
        width: 12vw;
        background-size: 4vw;
        margin-left: 10vw;

    }

    .tour-virtual-text {
        width: 100%;
        float: left;
        padding-right: 50%;
    }

    .item-map-content{
        float: left;
        width: 100%;
        padding-right: 50%;
        top: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .infoList {
        width: 62%;
        float: left;
        position: relative;
        left: 0;
    }

    .app {
        flex-direction: column;
    }

    .cardList {
        position: relative;
        width: 60%;
        right: 0;
        height: 250px;
    }

    .card {
        --card-width: 20vw;
        --card-height: 30vw;
    }

    .cardList__btn{
        --btn-size: 10vw;

    }

    .icon-explore-slider {
        width: 40px;
        height: 40px;
    }

    .campus-title {
        font-size: 46px;
    }

    .text.description {
        font-size: 30px;
    }

    .info { align-items: center; }



    .logo-uffs-footer {
        float: right;
        right: 5%;
        padding-top: 0;
        left: unset;
        align-items: baseline;
    }


    .footer-bkgd .header-title{
        font-size: 40px;
    }

    .footer-bkgd .header-main-icon{
        width: 10vw;
        height: 8vw;
    }

    .container-logo-footer{
        margin-left: 0;
    }

    .item-slider{
        width: 55% !important;
        left: unset !important;
        top: 25%;
        height: auto !important;
    }

    .first-map, .second-map, .thirty-map{
        width: 50vw;
        max-height: 50vw;
        margin-top: 30px;
    }

    .container-large {
        width: 90%;
    }

    .logo-uffs-slide{
        width: 30%;
        left: 35%;
    }

    .top-content-footer {
        margin-bottom: 50px;
    }
    .footer-bkgd {
        padding-left: 5%;
    }

    .logo-uffs-footer{
        width: 35%;
    }

    #logo-footer{
        padding: 20px 0px;
    }


    .social-icon{
        float: left;
    }

    .description-secondary-content {
        font-size: 24px;
        width: 400px;
    }
    .title-secondary-content {
        font-size: 42px;
    }

    .title-secondary-content p {
        font-size: 30px;
    }

    .btn-header h2 {
        font-size: 5vw;
    }

    .header .header-title{
        font-size: 4vw;
    }

    .align-content-footer{
        align-items: start;
    }

    .secondary-content img {
        display: none;
    }

    .secondary-content{
        padding-bottom: 0;
    }

    .mySwiper2{
        display: block;
        height: 500px;
        margin-bottom: 200px;
    }

    .mySwiper2 swiper-slide{
        background-color: #fafafa !important;
    }

    .mySwiper2 swiper-slide img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        max-height: 100vw;
    }


   swiper-container.mySwiper2 {
        color: #264653 !important;
    }


    
   

}



@media only screen and (min-width: 2200px) {

    .container-large {
        width: 50%;
    }

    .secondary-content{
        padding: 10vw 25vw 5vw 25vw;
    }


    .container-small {
        width: 30vw;
    }

    .item-map-content {
        width: 10vw;
    }

    .description-secondary-content {
        width: 450px;
    }

    .align-descriptions {
        top: 10vw;
        margin-left: 18vw;
    }

    .first-map{
        width: 10vw;
    }

    .thirty-map{
        top: 10vw;
    }

    .container-logo-footer div {
        font-size: 18px;
    }

    .bottom-content-footer img {
        width: 150px;
        margin-bottom: -8px;
    }

    .bottom-content-footer {
        font-size: 14px;
    }

    .bottom-content-footer img {
        width: 6vw;
    }


}
