/* Please ❤ this if you like it! */


/* ========================================= * 
		        BEST VIEWED FULLSCREEN
   https://codepen.io/ig_design/full/NWxwBvw
 * ========================================= */

 a {
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}

.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
.over-hide{
  overflow: hidden;
}
.padding-tb{
  padding: 100px 0;
}
[type="radio"]:checked,
[type="radio"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
   background-color: #0013015c;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  width: 70px;
  height: 70px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-image: url('https://assets.codepen.io/1462889/sl1.jpg');
  animation: border-transform 20s linear infinite alternate forwards;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
    background-blend-mode: unset;



}

.checkbox:checked + label{ 
   box-shadow: 4px 5px 5px rgb(0 0 0 / 9%);

  background-blend-mode: unset;
  transform: scale(1.3);
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running;

    
}
@keyframes border-transform{
  0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

@keyframes move_bkgd {
   0% {background-position: center;}
   33% {background-position: bottom;}  
   66% {background-position: top;} 
   100% {background-position: center;}  
}

@keyframes move_minimap {
   0% {background-position: top;}
   25% {background-position: left;}  
   50% {background-position: bottom;}  
   75% {background-position: right;}  
   100% {background-position: top;}  
}



.slider-height-padding {
  padding-top: 440px;
}

ul {
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   z-index: 100;
   padding: 0;
   margin: 0;
   height: 100%;
   list-style: none;
   background-color: black;
   border-radius: 0;
}
ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 73vh;
  background-size: cover;
  background-position: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: transform 1000ms ease, opacity 1000ms ease;
  transition: transform 1000ms ease, opacity 1000ms ease;
}
ul li span {
  mix-blend-mode: difference;
}


.checkbox.__1:checked ~ ul li:nth-child(1) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.__2:checked ~ ul li:nth-child(2) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.__3:checked ~ ul li:nth-child(3) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.__4:checked ~ ul li:nth-child(4) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}

.checkbox.__5:checked ~ ul li:nth-child(5) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }

 .checkbox.__6:checked ~ ul li:nth-child(6) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }

 .checkbox.__7:checked ~ ul li:nth-child(7) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }

 .checkbox.__8:checked ~ ul li:nth-child(8) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }

 .checkbox.__9:checked ~ ul li:nth-child(9) {
   opacity: 1;
   pointer-events: auto;
   border-radius: 16px;
 }
 

.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear;
}
.logo img {
    height: 26px;
    width: auto;
    display: block;
}



.section-slider{

   height: 73vh;
   float: left;
   width: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.container-labels-slider{
   height: 100%;
   display: flex;
   padding-top: 25px;
}

.label-slider{
   position: absolute;
   z-index: 10000;
}


.item-slider{
   position: fixed;
   width: 24%;
   height: 100%;
   left: 25%;
   z-index: 1000;
}

.container-item-slider{
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   transform-style: preserve-3d;
}

.info{
   display: flex;
   height: auto;
   cursor: pointer;
}





.background-slider{
   width: 100%;
   height: 100%;
   background-size: cover;
   opacity: 0.5;
   filter: blur(2px);
   -webkit-transition: transform 1000ms ease, opacity 1000ms ease;
   transition: transform 1000ms ease, opacity 1000ms ease;
   z-index: -1;
   position: relative;
   animation: move_bkgd 100s forwards;
   animation-iteration-count: infinite;
}

