<!DOCTYPE html>
<html>
<head>
<title>Tour Virtual</title>
<meta charset="utf-8">
<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
<style> @-ms-viewport {  } </style>
<link rel="stylesheet" href="/static/panorama/vendor/reset.min.css">
<link rel="stylesheet" href="/static/panorama/style.css">
</head>
<body class="multiple-scenes ">

<div id="pano"></div>

<div id="sceneList">
  <ul class="scenes">
    
      <a href="javascript:void(0)" class="scene" data-id="0-calada2">
        <li class="text">Calçada2</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="1-dentro">
        <li class="text">Dentro</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="2-calada">
        <li class="text">Calçada</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="3-entre-bloco">
        <li class="text">Entre-Bloco</li>
      </a>
    
  </ul>
</div>

<div id="titleBar">
  <h1 class="sceneName"></h1>
</div>

<a href="javascript:void(0)" id="autorotateToggle">
  <img class="icon off" src="/static/panorama/img/play.png">
  <img class="icon on" src="/static/panorama/img/pause.png">
</a>

<a href="javascript:void(0)" id="fullscreenToggle">
  <img class="icon off" src="/static/panorama/img/fullscreen.png">
  <img class="icon on" src="/static/panorama/img/windowed.png">
</a>

<a href="javascript:void(0)" id="sceneListToggle">
  <img class="icon off" src="/static/panorama/img/expand.png">
  <img class="icon on" src="/static/panorama/img/collapse.png">
</a>

<a href="javascript:void(0)" id="viewUp" class="viewControlButton viewControlButton-1">
  <img class="icon" src="/static/panorama/img/up.png">
</a>
<a href="javascript:void(0)" id="viewDown" class="viewControlButton viewControlButton-2">
  <img class="icon" src="/static/panorama/img/down.png">
</a>
<a href="javascript:void(0)" id="viewLeft" class="viewControlButton viewControlButton-3">
  <img class="icon" src="/static/panorama/img/left.png">
</a>
<a href="javascript:void(0)" id="viewRight" class="viewControlButton viewControlButton-4">
  <img class="icon" src="/static/panorama/img/right.png">
</a>
<a href="javascript:void(0)" id="viewIn" class="viewControlButton viewControlButton-5">
  <img class="icon" src="/static/panorama/img/plus.png">
</a>
<a href="javascript:void(0)" id="viewOut" class="viewControlButton viewControlButton-6">
  <img class="icon" src="/static/panorama/img/minus.png">
</a>

<script src="/static/panorama/vendor/screenfull.min.js" ></script>
<script src="/static/panorama/vendor/bowser.min.js" ></script>
<script src="/static/panorama/vendor/marzipano.js" ></script>

<script src="/static/panorama/data.js"></script>
<script src="/static/panorama/index.js"></script>

</body>
</html>
