
.popup-container{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    font-family:Roboto;
    color:#999;


}

.popup-cabecalho{
    width: 100%;
    height: 10%;
}


.popup-close{
    height: 100%;
    width: 8%;
    float: right;
    fill: #E43;
    

}

.popup-close:hover{
    cursor: pointer;
    scale: 1.1;
}

.popup-construcao{
    height: 40%;
    width: 30%;
    text-align:center;
    

}
.popup-content{
    width: 100%;
    height: 100%;
    background-color: #EEEEF4;
    box-shadow: 1px 0px 5px black;
    border-radius: 10px;

}
.popup-content h1{
    font-weight:100;
    font-size:27pt;
    color:#E43;
}

.popup-content p{
    font-weight:300;
}
