.controls-container {
    position: fixed;
    display: block;
    bottom: 1em;
    right: 0.5em;  
    margin-top: 10px; 
    margin-right: 0;
    transition: margin-right 0.5s;
    
  }

.controls-show-legenda{
  margin-right: 16em;
  transition: margin-right 0.5s;
}


.zoom-container, .especial-controls{
  width: 40px;
  height: 120px;
  border: 1px solid rgba(138, 138, 138, 0.733);
  margin-top: 40px;
  border-radius: 0.5em;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.411);
  background-color: rgba(255, 255, 255, 0.897);

}


.zoomout, .zoomin, .zoomreset, .btn-360, .btn-legenda, .btn-ajuda{
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}


.zoomout:hover, .zoomin:hover, .zoomreset:hover, .btn-360:hover, .btn-legenda:hover, .btn-ajuda:hover{
  background-color: rgba(150, 150, 150, 0.144);
  cursor: pointer;
}

