.legenda{
  position: fixed;
  right: 0;
  height: 100%;
  width: 16em;
  background-color: rgba(255, 255, 255, 0.904);
  margin-right: 0;
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.514);
  transition: margin-right 0.5s;

}
.ocultar{
  margin-right: -16em;
  transition: margin-right 0.5s;
}

.item{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.514);
  text-align: center;
  margin: 0.5em 1em 0.5em 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  
}
.item:hover{
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.822);
}

.legenda h2{
  text-align: center;
  border-bottom: 1px solid rgba(184, 184, 184, 0.444);
  padding-bottom: 0.5em;
}


