.search-bar-container{
    position: fixed;
    display: block;
    margin-left: 0.5em;
    margin-top: 0.5em;
    background-color: rgb(255, 255, 255);
    width: 342px;
    height: 48px;
    
    border: 1px solid rgba(184, 184, 184, 0.444);
    -webkit-box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.093);
    border-radius: 0.5em;
        
}


.pesquisa{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}


.search-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#search {

    width: 216px;
    height: 50%;
    padding: 0px;
    font-size: 14px;
    border: 0px;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid #7171713c;

    
  }

#search:focus{
    outline: none;
}
  

#menu {
    display: block;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;

}

#menu li a {
    font-size: 14px;
    background-color: rgb(255, 253, 253);
    
    padding-bottom: 12px;
    padding-top: 12px;

    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
    

}

#menu li a:hover {
background-color: rgb(2, 150, 27);
color: aliceblue;
cursor: pointer;
}

.resultado{
    
    -webkit-box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.514);
    
   
}