.search-bar{
    position: fixed;
    margin-left: 10px;
}

#search {
    width: 100%;
    font-size: 14px;
    padding: 1px;
    border: 0px;
    
    
  }

#search:focus{
    outline: none;
}
  

#menu {
list-style-type: none;
padding: 0;
margin: 0;

}

#menu li a {
font-size: 14px;
background-color: #ddd;
width: 100%;
padding: 12px;
text-decoration: none;
color: black;
display: block
}

#menu li a:hover {
background-color: rgb(2, 150, 27);
color: aliceblue;
cursor: pointer;
}