@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

  .information {
    position: absolute;
    top: 5vh;
    width: 20vw;
    height: 40px;
    right: auto;
    left: 40vw;
    background-color: rgba(255, 255, 255, 0);
    
  }

.information div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    height: 0;
    margin-top: 3vh;
   
  }

.information div p{
  word-wrap: break-word;
  padding: 5px 10px 5px 10px;
  background-color: rgb(255, 153, 0);
  border: 2px double rgb(255, 153, 0);
  border-radius: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
}





